/*==================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

* {
  outline: none !important;
  margin: 0;
  padding: 0;
  border-width: 0;
  vertical-align: top; }

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page, .owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.grabbing {
  cursor: url(../img/grabbing.png) 8 8, move; }

.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none; }

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791; }

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1; }

.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.owl-item.loading {
  min-height: 150px;
  background: url(../img/AjaxLoader.gif) no-repeat center center; }

.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px; }

.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease; }

.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease; }

.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease; }

.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease; }

.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both; }

.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both; }

.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both; }

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both; }

@-webkit-keyframes empty {
  0% {
    opacity: 1; } }
@-moz-keyframes empty {
  0% {
    opacity: 1; } }
@keyframes empty {
  0% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes backSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); } }
@-moz-keyframes backSlideOut {
  25% {
    opacity: .5;
    -moz-transform: translateZ(-500px); }
  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%); } }
@keyframes backSlideOut {
  25% {
    opacity: .5;
    transform: translateZ(-500px); }
  75% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%); } }
@-webkit-keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0); } }
@-moz-keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px); }
  100% {
    opacity: 1;
    -moz-transform: translateZ(0) translateX(0); } }
@keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: .5;
    transform: translateZ(-500px); }
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0); } }
@-webkit-keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8); } }
@-moz-keyframes scaleToFade {
  to {
    opacity: 0;
    -moz-transform: scale(0.8); } }
@keyframes scaleToFade {
  to {
    opacity: 0;
    transform: scale(0.8); } }
@-webkit-keyframes goDown {
  from {
    -webkit-transform: translateY(-100%); } }
@-moz-keyframes goDown {
  from {
    -moz-transform: translateY(-100%); } }
@keyframes goDown {
  from {
    transform: translateY(-100%); } }
@-webkit-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5); } }
@-moz-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -moz-transform: scale(1.5); } }
@keyframes scaleUpFrom {
  from {
    opacity: 0;
    transform: scale(1.5); } }
@-webkit-keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5); } }
@-moz-keyframes scaleUpTo {
  to {
    opacity: 0;
    -moz-transform: scale(1.5); } }
@keyframes scaleUpTo {
  to {
    opacity: 0;
    transform: scale(1.5); } }
.select-select {
  display: none;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
  position: absolute;
  opacity: 0; }

.select-element, .select-element:after, .select-element:before, .select-element *, .select-element *:after, .select-element *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.select-element {
  position: absolute;
  display: none; }

.select-element.select-open {
  display: block; }

.select-theme-dark, .select-theme-dark *, .select-theme-dark *:after, .select-theme-dark *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.select.select-theme-dark {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.select.select-theme-dark .select-content {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #252525;
  color: #b9b9b9;
  font-family: inherit;
  overflow: auto;
  max-width: 18rem;
  max-height: 18rem;
  -webkit-overflow-scrolling: touch; }

@media (max-width: 27rem), (max-height: 27rem) {
  .select.select-theme-dark .select-content {
    max-width: 11.25rem;
    max-height: 11.25rem; } }
.select.select-theme-dark .select-options {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0; }

.select.select-theme-dark .select-options .select-option {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  position: relative;
  list-style: none;
  margin: 0;
  line-height: 1.25rem;
  padding: 0.5rem 1em 0.5rem 2.5em;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.select.select-theme-dark .select-options .select-option.select-option-selected:before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='-0.5 0 20 15'><rect fill='#b9b9b9' stroke='none' transform='rotate(45 4.0033 8.87436)' height='5' width='6.32304' y='6.37436' x='0.84178'></rect><rect fill='#b9b9b9' stroke='none' transform='rotate(45 11.1776 7.7066)' width='5' height='16.79756' y='-0.69218' x='8.67764'></rect></svg>");
  position: absolute;
  left: 1em;
  top: 0;
  bottom: 0.2em;
  height: 1em;
  width: 1em;
  margin: auto; }

.select.select-theme-dark .select-options .select-option:hover, .select.select-theme-dark .select-options .select-option.select-option-highlight {
  background: #63a2f1;
  color: white; }

.select.select-theme-dark .select-options .select-option:hover.select-option-selected:before, .select.select-theme-dark .select-options .select-option.select-option-highlight.select-option-selected:before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='-0.5 0 20 15'><rect fill='white' stroke='none' transform='rotate(45 4.0033 8.87436)' height='5' width='6.32304' y='6.37436' x='0.84178'></rect><rect fill='white' stroke='none' transform='rotate(45 11.1776 7.7066)' width='5' height='16.79756' y='-0.69218' x='8.67764'></rect></svg>"); }

.select.select-theme-dark .select-options .select-option:first-child {
  -webkit-border-radius: 0.25em 0.25em 0 0;
  -moz-border-radius: 0.25em 0.25em 0 0;
  -ms-border-radius: 0.25em 0.25em 0 0;
  -o-border-radius: 0.25em 0.25em 0 0;
  border-radius: 0.25em 0.25em 0 0; }

.select.select-theme-dark .select-options .select-option:last-child {
  -webkit-border-radius: 0 0 0.25em 0.25em;
  -moz-border-radius: 0 0 0.25em 0.25em;
  -ms-border-radius: 0 0 0.25em 0.25em;
  -o-border-radius: 0 0 0.25em 0.25em;
  border-radius: 0 0 0.25em 0.25em; }

.select-target.select-theme-dark {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  position: relative;
  padding: 0.5rem 3em 0.5rem 1em;
  background: #252525;
  border: 0.18em solid #151515;
  cursor: pointer;
  color: #b9b9b9;
  text-decoration: none;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }

.select-target.select-theme-dark:hover {
  border-color: black;
  color: white; }

.select-target.select-theme-dark.select-target-focused, .select-target.select-theme-dark.select-target-focused:focus {
  border-color: #63a2f1;
  outline: none; }

.select-target.select-theme-dark b {
  position: absolute;
  right: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1.25rem;
  width: 2em; }

.select-target.select-theme-dark b:before, .select-target.select-theme-dark b:after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  right: 0;
  height: 0;
  width: 0;
  border: 0.263em solid transparent; }

.select-target.select-theme-dark b:before {
  top: 0;
  border-bottom-color: inherit; }

.select-target.select-theme-dark b:after {
  bottom: 0;
  border-top-color: inherit; }

@font-face {
  font-family: "ProximaNova-LightIt";
  src: url("../fonts/proxima-flat/proximanova-lightit.eot");
  src: url("../fonts/proxima-flat/proximanova-lightit.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanova-lightit.woff") format("woff"), url("../fonts/proxima-flat/proximanova-lightit.ttf") format("truetype"), url("../fonts/proxima-flat/proximanova-lightit.otf") format("opentype"), url("../fonts/proxima-flat/proximanova-lightit.svg#ProximaNova-LightIt") format("svg");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/proxima-flat/proximanova-regular.eot");
  src: url("../fonts/proxima-flat/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanova-regular.woff") format("woff"), url("../fonts/proxima-flat/proximanova-regular.ttf") format("truetype"), url("../fonts/proxima-flat/proximanova-regular.otf") format("opentype"), url("../fonts/proxima-flat/proximanova-regular.svg#ProximaNova-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNova-RegularIt";
  src: url("../fonts/proxima-flat/proximanova-regularit.eot");
  src: url("../fonts/proxima-flat/proximanova-regularit.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanova-regularit.woff") format("woff"), url("../fonts/proxima-flat/proximanova-regularit.ttf") format("truetype"), url("../fonts/proxima-flat/proximanova-regularit.otf") format("opentype"), url("../fonts/proxima-flat/proximanova-regularit.svg#ProximaNova-RegularIt") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/proxima-flat/proximanova-semibold.eot");
  src: url("../fonts/proxima-flat/proximanova-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanova-semibold.woff") format("woff"), url("../fonts/proxima-flat/proximanova-semibold.ttf") format("truetype"), url("../fonts/proxima-flat/proximanova-semibold.otf") format("opentype"), url("../fonts/proxima-flat/proximanova-semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNova-SemiboldIt";
  src: url("../fonts/proxima-flat/proximanova-semiboldit.eot");
  src: url("../fonts/proxima-flat/proximanova-semiboldit.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanova-semiboldit.woff") format("woff"), url("../fonts/proxima-flat/proximanova-semiboldit.ttf") format("truetype"), url("../fonts/proxima-flat/proximanova-semiboldit.otf") format("opentype"), url("../fonts/proxima-flat/proximanova-semiboldit.svg#ProximaNova-SemiboldIt") format("svg");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNova-Black";
  src: url("../fonts/proxima-flat/proximanova-black.eot");
  src: url("../fonts/proxima-flat/proximanova-black.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanova-black.woff") format("woff"), url("../fonts/proxima-flat/proximanova-black.ttf") format("truetype"), url("../fonts/proxima-flat/proximanova-black.otf") format("opentype"), url("../fonts/proxima-flat/proximanova-black.svg#ProximaNova-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/proxima-flat/proximanova-bold.eot");
  src: url("../fonts/proxima-flat/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanova-bold.woff") format("woff"), url("../fonts/proxima-flat/proximanova-bold.ttf") format("truetype"), url("../fonts/proxima-flat/proximanova-bold.otf") format("opentype"), url("../fonts/proxima-flat/proximanova-bold.svg#ProximaNova-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNova-BoldIt";
  src: url("../fonts/proxima-flat/proximanova-boldit.eot");
  src: url("../fonts/proxima-flat/proximanova-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanova-boldit.woff") format("woff"), url("../fonts/proxima-flat/proximanova-boldit.ttf") format("truetype"), url("../fonts/proxima-flat/proximanova-boldit.otf") format("opentype"), url("../fonts/proxima-flat/proximanova-boldit.svg#ProximaNova-BoldIt") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNovaCond-Light";
  src: url("../fonts/proxima-flat/proximanovacond-light.eot");
  src: url("../fonts/proxima-flat/proximanovacond-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanovacond-light.woff") format("woff"), url("../fonts/proxima-flat/proximanovacond-light.ttf") format("truetype"), url("../fonts/proxima-flat/proximanovacond-light.otf") format("opentype"), url("../fonts/proxima-flat/proximanovacond-light.svg#ProximaNovaCond-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNovaCond-LightIt";
  src: url("../fonts/proxima-flat/proximanovacond-lightit.eot");
  src: url("../fonts/proxima-flat/proximanovacond-lightit.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanovacond-lightit.woff") format("woff"), url("../fonts/proxima-flat/proximanovacond-lightit.ttf") format("truetype"), url("../fonts/proxima-flat/proximanovacond-lightit.otf") format("opentype"), url("../fonts/proxima-flat/proximanovacond-lightit.svg#ProximaNovaCond-LightIt") format("svg");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNovaCond-Regular";
  src: url("../fonts/proxima-flat/proximanovacond-regular.eot");
  src: url("../fonts/proxima-flat/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanovacond-regular.woff") format("woff"), url("../fonts/proxima-flat/proximanovacond-regular.ttf") format("truetype"), url("../fonts/proxima-flat/proximanovacond-regular.otf") format("opentype"), url("../fonts/proxima-flat/proximanovacond-regular.svg#ProximaNovaCond-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNovaCond-RegularIt";
  src: url("../fonts/proxima-flat/proximanovacond-regularit.eot");
  src: url("../fonts/proxima-flat/proximanovacond-regularit.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanovacond-regularit.woff") format("woff"), url("../fonts/proxima-flat/proximanovacond-regularit.ttf") format("truetype"), url("../fonts/proxima-flat/proximanovacond-regularit.otf") format("opentype"), url("../fonts/proxima-flat/proximanovacond-regularit.svg#ProximaNovaCond-RegularIt") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNovaCond-Semibold";
  src: url("../fonts/proxima-flat/proximanovacond-semibold.eot");
  src: url("../fonts/proxima-flat/proximanovacond-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanovacond-semibold.woff") format("woff"), url("../fonts/proxima-flat/proximanovacond-semibold.ttf") format("truetype"), url("../fonts/proxima-flat/proximanovacond-semibold.otf") format("opentype"), url("../fonts/proxima-flat/proximanovacond-semibold.svg#ProximaNovaCond-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNova-Extrabld";
  src: url("../fonts/proxima-flat/proximanova-extrabld.eot");
  src: url("../fonts/proxima-flat/proximanova-extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanova-extrabld.woff") format("woff"), url("../fonts/proxima-flat/proximanova-extrabld.ttf") format("truetype"), url("../fonts/proxima-flat/proximanova-extrabld.otf") format("opentype"), url("../fonts/proxima-flat/proximanova-extrabld.svg#ProximaNova-Extrabld") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/proxima-flat/proximanova-light.eot");
  src: url("../fonts/proxima-flat/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-flat/proximanova-light.woff") format("woff"), url("../fonts/proxima-flat/proximanova-light.ttf") format("truetype"), url("../fonts/proxima-flat/proximanova-light.otf") format("opentype"), url("../fonts/proxima-flat/proximanova-light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/custom-icon/icomoon.eot?3qaxry");
  src: url("../fonts/custom-icon/icomoon.eot?3qaxry#iefix") format("embedded-opentype"), url("../fonts/custom-icon/icomoon.ttf?3qaxry") format("truetype"), url("../fonts/custom-icon/icomoon.woff?3qaxry") format("woff"), url("../fonts/custom-icon/icomoon.svg?3qaxry#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-bottom:before {
  content: "\e900"; }

.icon-arrow-left:before {
  content: "\e901"; }

.icon-arrow-right:before {
  content: "\e902"; }

.icon-arrow-top:before {
  content: "\e903"; }

.icon-facebook-icon:before {
  content: "\e904"; }

.icon-play-arrow:before {
  content: "\e905"; }

.icon-search-icon:before {
  content: "\e906"; }

.icon-twitter-icon:before {
  content: "\e907"; }

.main-footer .arrow-top, .main-footer-pad .arrow-top, .main-footer-fix .arrow-top, .main-footer .social-icon-list-item-link span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -icab-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.main-footer .arrow-top, .main-footer .arrow-top .icon-arrow-top, .main-footer-pad .arrow-top, .main-footer-pad .arrow-top .icon-arrow-top, .main-footer-fix .arrow-top, .main-footer-fix .arrow-top .icon-arrow-top, .main-footer-fix-left-txt a, .main-footer-fix-left-pad, .main-footer-fix-right-pad, .main-footer .social-icon-list-item-link, .main-footer .social-icon-list-item-link span, .main-header .top-nav-list-item-link, .main-header .user-tool-list-item-link, .main-header .user-profile-box .user-profile-name {
  -webkit-transition: all 0.3s, ease-in-out;
  -icab-transition: all 0.3s, ease-in-out;
  -khtml-transition: all 0.3s, ease-in-out;
  -moz-transition: all 0.3s, ease-in-out;
  -o-transition: all 0.3s, ease-in-out;
  -ms-transition: all 0.3s, ease-in-out;
  transition: all 0.3s, ease-in-out; }

body,
html, .main-footer-fix-left-txt, .main-header .top-nav-list-item-link, .main-header .user-tool-list-item-link {
  font-family: ProximaNova-Regular, sans-serif; }

.main-header .user-tool-list-item.current a {
  font-family: ProximaNova-Semibold, sans-serif; }

.wrapper:after, .main-footer-fix:after, .main-header:after, .main-trafaret:after, .main-footer:after, .main-footer-pad:after, .main-header .logo-cell-pad:after, .main-header .top-nav:after, .main-header .top-nav-list:after, .main-header .user-tool-list-item-pad:after, .main-header .user-profile-box:after, .main-header .user-profile-box .user-profile-name:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  text-decoration: none;
  text-indent: -999999px;
  visibility: hidden;
  text-align: left;
  border: 0;
  width: 100%; }

.wrapper, .main-footer-fix, .main-header {
  max-width: 1440px;
  min-width: 690px;
  margin: 0 auto;
  clear: both;
  display: block; }

.wrapper, .main-trafaret, .main-footer, .main-footer-pad, .main-footer-fix, .main-header, .main-header .logo-cell-pad, .main-header .top-nav, .main-header .top-nav-list, .main-header .user-tool-list-item-pad, .main-header .user-profile-box, .main-header .user-profile-box .user-profile-name {
  clear: both;
  display: block; }

.wrapper, .main-trafaret, .main-footer, .main-footer-pad, .main-footer-fix, .main-header, .main-header .logo-cell-pad, .main-header .top-nav, .main-header .top-nav-list, .main-header .user-tool-list-item-pad, .main-header .user-profile-box, .main-header .user-profile-box .user-profile-name, .main-footer-fix-left, .main-footer-fix-right, .main-footer .social-icon-list-item-link, .main-header-left, .main-header-right {
  position: relative;
  top: 0;
  left: 0; }

scrollbar {
  width: 6px;
  height: 6px; }

scrollbar-track {
  background-color: transparent;
  border-left: 1px solid transparent; }

scrollbar-thumb {
  background-color: #be1e2d;
  border-radius: 0px; }

scrollbar-thumb:hover {
  background-color: transparent; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  background-color: transparent;
  border-left: 1px solid transparent; }

::-webkit-scrollbar-thumb {
  background-color: #be1e2d;
  border-radius: 0px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #be1e2d; }

body,
html {
  border: 0 none;
  cursor: default;
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #000 !important; }

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -icab-box-sizing: border-box;
  box-sizing: border-box; }

a {
  cursor: pointer; }

::-moz-selection {
  background: #000;
  color: #be1e2d; }

::selection {
  background: #000;
  color: #be1e2d; }

.indent {
  display: block;
  font-size: 0;
  text-decoration: none;
  text-indent: -999999px;
  text-align: left; }

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: #be1e2d; }

.wrapper {
  background: url(../img/trafaret2.png) no-repeat center top;
  min-height: 1210px;
  height: auto !important;
  height: 1210px; }

/*=====footer=====*/
.main-footer, .main-footer-pad, .main-footer-fix {
  text-align: left; }
  .main-footer .arrow-top, .main-footer-pad .arrow-top, .main-footer-fix .arrow-top {
    z-index: 100;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 29px;
    height: 17px;
    color: #be1e2d; }
    .main-footer .arrow-top .icon-arrow-top, .main-footer-pad .arrow-top .icon-arrow-top, .main-footer-fix .arrow-top .icon-arrow-top {
      font-size: 18px;
      color: #be1e2d; }
    .main-footer .arrow-top:hover .icon-arrow-top, .main-footer-pad .arrow-top:hover .icon-arrow-top, .main-footer-fix .arrow-top:hover .icon-arrow-top {
      color: #ffdd14; }
.main-footer-pad {
  padding: 0 40px; }
.main-footer-fix {
  background: #5b050d;
  margin-top: -140px;
  z-index: 5; }
.main-footer-fix, .main-footer-fix-left, .main-footer-fix-right {
  min-height: 140px;
  height: auto !important;
  height: 140px; }
.main-footer-fix-left {
  width: 50%;
  float: left; }
  .main-footer-fix-left-txt {
    color: #9a9a9a;
    font-size: 14.2px;
    letter-spacing: -0.1px; }
    .main-footer-fix-left-txt a {
      color: #be1e2d; }
      .main-footer-fix-left-txt a:hover {
        color: #fff; }
  .main-footer-fix-left-pad {
    padding-top: 61px;
    padding-left: 100px; }
  @media only screen and (max-width: 900px) {
    .main-footer-fix-left-pad {
      padding-left: 30px; } }
.main-footer-fix-right {
  width: 50%;
  float: left; }
  .main-footer-fix-right-pad {
    text-align: right;
    padding-top: 49px;
    padding-right: 100px; }
  @media only screen and (max-width: 900px) {
    .main-footer-fix-right-pad {
      padding-right: 30px; } }
.main-footer .social-icon-list, .main-footer .social-icon-list-item {
  list-style: none;
  font-size: 0;
  display: inline-block; }
.main-footer .social-icon-list-item {
  padding-left: 10px; }
  .main-footer .social-icon-list-item-link {
    text-decoration: none;
    display: inline-block;
    width: 42px;
    height: 42px;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    -icab-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #ffdd14;
    background: #be1e2d; }
    .main-footer .social-icon-list-item-link span {
      font-size: 17px;
      color: #ffdd14; }
    .main-footer .social-icon-list-item-link:hover {
      background: #ffdd14; }
    .main-footer .social-icon-list-item-link:hover span {
      color: #be1e2d; }

.main-header {
  /*    opacity: 0.5;*/ }
  .main-header, .main-header-left, .main-header-right {
    min-height: 83px;
    height: auto !important;
    height: 83px; }
  .main-header {
    width: 100%;
    background: #130304; }
  .main-header-left {
    width: 35%;
    float: left;
    text-align: left; }
  .main-header-right {
    width: 65%;
    float: left;
    text-align: right; }
  .main-header .top-cell-uni {
    display: inline-block;
    min-height: 83px;
    height: auto !important;
    height: 83px; }
  .main-header .logo-cell-pad {
    display: inline-block;
    padding: 11px 29px 10px 40px; }
  .main-header .logo {
    display: inline-block;
    text-decoration: none; }
  .main-header .menu-cell-pad {
    padding-top: 34px; }
  .main-header .top-nav-list, .main-header .top-nav-list-item {
    list-style: none;
    font-size: 0;
    display: inline-block; }
  .main-header .top-nav-list-item-pad {
    padding: 0 10px 0 10px; }
  .main-header .top-nav-list-item-link {
    text-decoration: none;
    color: #808080;
    font-size: 16px; }
    .main-header .top-nav-list-item-link:hover {
      color: #cb1d2a; }
  .main-header .main-header-right-pad {
    padding-top: 10px;
    padding-right: 10px; }
  .main-header .user-tool-list {
    padding-top: 16px;
    padding-right: 30px; }
  .main-header .user-tool-list, .main-header .user-tool-list-item {
    list-style: none;
    font-size: 0; }
  .main-header .user-tool-list-item.current a {
    background: #be1e2d;
    color: #ffdd14; }
  .main-header .user-tool-list-item, .main-header .user-tool-list-item-link {
    display: inline-block; }
  .main-header .user-tool-list-item-link {
    text-decoration: none;
    font-size: 16px;
    color: #808080;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    -icab-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 11px 8px 12px; }
    .main-header .user-tool-list-item-link:hover {
      color: #cb1d2a; }
  .main-header .user-tool-list-item-pad {
    padding-left: 14px; }
  .main-header .user-profile-box {
    display: inline-block;
    text-align: left;
    /*        width: 174px;*/
    /*background: #be1e2d;*/
    height: 73px;
    -o-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
    -icab-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
    .main-header .user-profile-box:hover .user-profile-name {
      color: #fff; }
    .main-header .user-profile-box .user-profile-name {
      display: inline-block;
      color: #808080;
      font-size: 16px;
      padding: 12px 29px 23px 62px;
      line-height: 19px; }
      .main-header .user-profile-box .user-profile-name .avatar-cell {
        display: block;
        width: 43px;
        height: 43px;
        -o-border-radius: 50%;
        -khtml-border-radius: 50%;
        -icab-border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        background: url(../img/avatar.svg) no-repeat center bottom #c4c4c4;
        position: absolute;
        top: 10px;
        left: 10px;
        overflow: hidden;
        -webkit-background-size: 24px 32px;
        -icab-background-size: 24px 32px;
        -khtml-background-size: 24px 32px;
        -moz-background-size: 24px 32px;
        -o-background-size: 24px 32px;
        -ms-background-size: 24px 32px;
        background-size: 24px 32px; }

/*# sourceMappingURL=style.css.map */
